<section class="row text-center">
  <div class="col">
      <img src="assets/img/kingdom-394.svg">
  </div>
  <div class="col align-self-center text-start">
    <h1 class="font-weight-bold">LES SÉNIORISSIMES</h1>
      <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. !</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error obcaecati veritatis quas, reprehenderit ipsa, explicabo perspiciatis enim dicta labore ducimus ipsam rerum modi voluptatibus nisi expedita. Dicta quasi iste quidem.</p>
  </div>
</section>
<section class="container-fluid sectionTest text-center">
  <div>
    <h1>RECHERCHE PAR VILLE</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora tenetur rem, optio harum laborum veritatis dolor, numquam illum excepturi voluptates porro</p>
  </div>
  <div class="">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="form-inline">
      <input type="text" class="form-control w-50 m-auto"  name="ville" ngModel required >
      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button">affiner la recherche</button>
        </div>
        <select  class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <button type="submit" class="btn btn-outline-primary"  [disabled]="!form.form.valid">
        chercher
      </button>
    </form>
  </div>
</section>