<!--HEADER-->
<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <div class="container">
    <a class="navbar-brand" href="/">Seniorissimes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Accueil <span class="sr-only"></span></a>
        <a class="nav-item nav-link" href="/activités">Activités</a>
        <a class="nav-item nav-link" href="/contact">Contact</a>
      </div>
    </div>
  </div>
</nav>
<!--END HEADER-->

<router-outlet></router-outlet>

<!--FOOTER-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-1">
        <img id="logo-footer" src="assets/img/kingdom-394.svg">
      </div>
      <div class="col-5">
        <li>
          <ul id="footer-title">
            Les Seniorissimes
          </ul>
          <ul>
            340 Rue Dupon-Dupon
          </ul>
          <ul>
            69005 LYON
          </ul>
          <ul>
            Tel : 04 00 00 00 00
          </ul>
          <ul>
            Mail : contact@seniorissimes.com
          </ul>
          <ul>
            <img src="assets/img/facebook-square-brands.svg">
            <img src="assets/img/instagram-brands.svg">
            <img src="assets/img/linkedin-brands.svg">
          </ul>
        </li>
      </div>
      <div class="col-6 text-end" id="right-footer">
        <li>
          <ul>
            Contact
          </ul>
          <ul>
            Mentions Légales
          </ul>
          <ul>
            Conditions générales d'utilisation
          </ul>
          <ul>
            Politique de confidentialité
          </ul>
          <ul>
            Site Angular
          </ul>
        </li>
      </div>
    </div>
  </div>
</footer>
